* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #7393B3;
    color: var(--foundation-blue-blue-50, #E6E9EE);
    font-family: Roboto;
    
  }
  
  
  .sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    
  }
  
  .sidebarOption .material-icons,
  .fa-wave {
    padding: 20px;
  }

  .sidebarOption h1 {
    color: #FFF;
    font-family: KoHo;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .sidebarOption h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
  }
  
  .sidebarOption:hover {
    border-radius: 30px;
    transition: color 100ms ease-out;
  }
  
  
  .sidebar__feed {
    width: 100%;
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
  }
  
  body {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
  }
  
  .sidebar {
    border-right: 1px solid;
    flex: 0.2;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .fa-wave {

    font-size: 30px;
  }
  
  /* feed */
  .feed {
    flex: 0.5;
    border-right: 1px solid;
    min-width: fit-content;
    overflow-y: scroll;
  }
  
  .feed__header {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 15px 20px;
  }
  
  .feed__header h2 {
    font-size: 20px;
    font-weight: 800;
  }
  
  .feed::-webkit-scrollbar {
    display: none;
  }
  
  .feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  /* feed box */
  .feedbox__input img {
    border-radius: 50%;
    height: 40px;
  }
  
  .feedBox {
    padding-bottom: 10px;
    padding-right: 10px;
  }
  
  .feedBox form {
    display: flex;
    flex-direction: column;
  }
  
  .feedbox__input {
    display: flex;
    padding: 20px;
  }
  
  .feedbox__input input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
  }
  
  .feedBox__feedButton {
    background-color: var(--foundation-blue-blue-300, #546C8E);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
  }
  
  /* post */
  .post__avatar img {
    border-radius: 50%;
    height: 40px;
  }
  
  .post {
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
  }
  
  .post__body img {
    width: 450px;
    object-fit: contain;
    border-radius: 20px;
  }
  
  .post__footer {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .post__badge {
    font-size: 14px !important;
    margin-right: 5px;
  }
  
  .post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
  }
  
  .post__headerText h3 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  .post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  .post__body {
    flex: 1;
    padding: 10px;
  }
  
  .post__avatar {
    padding: 20px;
  }
  
  /* widgets */
  .widgets {
    flex: 0.3;
  }
  
  .widgets__input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .widgets__input input {
    border: none;
  
  }
  
  .widgets__searchIcon {
    color: gray;
  }
  
  .widgets__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
  }
  
  .widgets__widgetContainer h2 {
    font-size: 18px;
    font-weight: 800;
  }